<div class="thumbnail preview">
  <a href="{{App.request.baseUrl~'/ad/view/'~data.id}}">
    <img src="{{App.request.baseUrl~'/images/thumb/'~
         'small_'~data.photos[0].id~'_'~data.photos[0].name}}"
         alt="{{data.title}}">
  </a>
  <h3>
    <a href="{{App.request.baseUrl~'/ad/view/'~data.id}}">
      {% if data.title|length > 25 %}
        {{data.title|slice(0,20)~'...'}}
      {% else %}
        {{data.title}}
      {% endif %}
    </a>
  </h3>
  {% if not data.isEavAttributeEmpty('price') %}
    <h4>{{ data.price }} {{ data.getAttributeUnit('price') }}.</h4>
  {% else %}
    <h4>0 {{ data.getAttributeUnit('price') }}.</h4>
  {% endif %}
</div>
