<div class="ad-item clearfix">
  <a href="{{App.request.baseUrl~'/ad/view/'~data.id}}">
    <img src="{{App.request.baseUrl~'/images/thumb/'~
         'small_'~data.photos[0].id~'_'~data.photos[0].name}}"
         alt="photo"
         class="img-responsive pull-left ad-preview">
  </a>

  <h3>
    <a href="{{App.request.baseUrl~'/ad/view/'~data.id}}">{{data.title}}</a>
  </h3>

  <div class="ad-city-added">
    <p><strong class="ad-city">{{ data.city.name }}</strong></p>
    <p><small class="ad-added text-muted">{{ data.added }}</small></p>
  </div>
  <p class="ad-price">
    <strong>
    {% if not data.isEavAttributeEmpty('price') %}
      {{ data.getEavAttribute('price')~' '~data.getAttributeUnit('price')~'.' }}
    {% endif %}
    </strong>
  </p>
</div>
