<div class="ad-item clearfix">
  <a href="{{'/ad/view/'~data.id}}" class="pull-left ad-preview">
    <img src="{{ '/images/thumb/' ~
      'small_' ~ data.photos[0].id ~ '_' ~ data.photos[0].name}}"
         alt="{{ data.title }}"
         class="img-responsive">
  </a>

  <h3 class="col-sm-8 nopaddings">
    <a href="{{'/ad/view/'~data.id}}">{{ data.title }}</a>
  </h3>

  <div class="ad-price col-sm-4 nopaddings">
    {% if not data.isEavAttributeEmpty('price') %}
      {{ data.getEavAttribute('price')~' '~data.getAttributeUnit('price')~'.' }}
    {% endif %}
  </div>

  <div class="ad-city-added">
    <div class="ad-city">{{ data.city.name }}</div>
    <time class="ad-added text-muted">{{ data.added }}</time>
  </div>
</div>
