{% extends 'views/layouts/main.twig' %}

{% block title %}{{ App.name }} &mdash; главная{% endblock title %}

{% block auxres %}
  <link rel="stylesheet" href="{{ App.request.baseUrl~'/css/mainpage.css' }}">
  <script src="/js/main-page.js"></script>
  {{ Yii.void(App.clientScript.registerScriptFile(
  App.request.baseUrl~'/js/citiesDropDown.js', constant('CClientScript::POS_END'))) }}
{% endblock auxres %}

{% block content %}

  {{ C.Html.beginForm(
    App.createUrl('site/search'),
    'get',
    {'class': 'form-inline clearfix'}
  ) }}

  <div class="col-sm-4">
  {{ C.Html.activeTextField(form, 'word', {
    'name':'word',
    'placeholder':'поиск по фразе',
    'class': 'form-control'
  }) }}
  </div>

  {% if this.beginCache('dropDownRegion', {'duration': 1}) %}
    <div class="col-sm-3">
      {{ C.Html.activeDropDownList(
        form,
        'region_id',
        regionList,
        {
          'id': 'id_region',
          'prompt': 'область',
          'name': 'region',
          'class': 'form-control'
        }
      ) }}
    </div>
    {{ Yii.void(this.endCache()) }}
  {% endif %}

  <div class="col-sm-3">
    {{ C.Html.activeDropDownList(
      form,
      'city_id',
      {},
      {'id':'id_city', 'prompt':'город', 'name':'city', 'class': 'form-control'}
    ) }}
  </div>

  <div class="col-sm-2">
    {{ C.Html.submitButton(
      '',
      {
        'name': '',
        'value':'Найти',
        'class':'btn btn-default pull-right'
      }
    ) }}
  </div>

  {{ C.Html.endForm() }}

  {% if this.beginCache('roots', {'duration': 1}) %}
    <div class="roots clearfix">
      {% for category in categories %}
        {% if category.level == 1 %}
          <h3 class="root root-{{category.root}} col-sm-3">
            <a href="{{ App.request.baseUrl~'/site/search/'~category.id }}"
               data-root="{{category.root}}">
              {{ category.title }}
            </a>
          </h3>
        {% endif %}
      {% endfor %}
    </div>

    {% for i in 1..10 %}
      <div class="children root-{{ i }} clearfix" data-root="{{ i }}">
        {% for category in categories %}
          {% if category.level != 1 and category.root == i %}
            <div class="child root-{{category.root}} col-sm-3">
              <a href="{{ App.request.baseUrl~'/site/search/'~category.id }}">
                {{ category.title }}
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
    {{ Yii.void(this.endCache()) }}
  {% endif %}

  {% if this.beginCache('_new', {'duration': 5}) %}
    <h2>Новые объявления</h2>
    <div class="new-ads clearfix">
      {{ this.widget('zii.widgets.CListView', {
        'dataProvider':dataProvider,
        'itemView':'_new',
        'summaryText':false
      }, true) }}
    </div>
    {{ Yii.void(this.endCache()) }}
  {% endif %}

{% endblock content %}
