{% extends 'views/layouts/main.twig' %}

{% block title %}{{ App.name }} : главная{% endblock title %}

{% block content %}

{{ Yii.void(App.clientScript.registerCssFile(App.request.baseUrl~'/css/mainpage.css')) }}
{{ Yii.void(App.clientScript.registerScriptFile(
    App.request.baseUrl~'/js/citiesDropDown.js', constant('CClientScript::POS_END'))) }}

<div class="form">
{{ C.Html.beginForm(App.createUrl('site/search'), 'get') }}
    {{ C.Html.activeTextField(model, 'word', {'name':'word', 'placeholder':'поиск по фразе'}) }}
    {{ C.Html.activeDropDownList(model, 'region_id', model.getRegions(),
        {'id':'id_region', 'prompt':'область', 'name':'region'}) }}
    {{ C.Html.activeDropDownList(model, 'city_id',
        {}, {'id':'id_city', 'prompt':'город', 'name':'city'}) }}
    {{ C.Html.submitButton('', {'name':'', 'value':'Найти'}) }}
{{ C.Html.endForm() }}
</div>

<div class="roots">
{% for category in categories %}
    {% if category.level == 1 %}
    <div class="root root-{{category.root}}">
        {# <a href="{{ App.request.baseUrl~'/site/search/'~category.id }}">
        {{ category.title }}
        </a> #}
        <span>{{ category.title }}</span>
    </div>
    {% endif %}
{% endfor %}
<div class="clear"></div>
</div>

{% for i in 1..10 %}
<div class="children root-{{i}}">
    {% for category in categories %}
        {% if category.level != 1 and category.root == i %}
        <div class="child">
            <a href="{{ App.request.baseUrl~'/site/search/'~category.id }}">
                {{ category.title }}
            </a>
        </div>
        {% endif %}
    {% endfor %}
    <div class="clear"></div>
</div>
{% endfor %}

<h2>Новые объявления</h2>
<div class="clistview">
{{ this.widget('zii.widgets.CListView', {
    'dataProvider':dataProvider,
    'itemView':'_new',
    'summaryText':false
}, true) }}
<div class="clear"></div>
</div>

<script>
    $(".roots").click(function(event){
        event.preventDefault();
        if ($(event.target).tagName != 'A' &&
            !$(event.target).parent().hasClass("root")) { return; }
        var fullClass = $(event.target).parent().attr('class');
        var currentRoot = fullClass.match(/root-\d/g)[0];
        $(".children").hide();
        $(".children."+currentRoot).show();
    });
</script>

{% endblock content %}
