{% extends 'views/layouts/main.twig' %}

{% block title %}{{ App.name }} : главная{% endblock title %}

{% block auxres %}
    {{ Yii.void(App.clientScript.registerCssFile(App.request.baseUrl~'/css/mainpage.css')) }}
    {{ Yii.void(App.clientScript.registerScriptFile(
    App.request.baseUrl~'/js/citiesDropDown.js', constant('CClientScript::POS_END'))) }}
{% endblock auxres %}

{% block content %}

<div class="form">
{{ C.Html.beginForm(App.createUrl('site/search'), 'get') }}
    {{ C.Html.activeTextField(form, 'word', {'name':'word', 'placeholder':'поиск по фразе'}) }}
    {% if this.beginCache('dropDownRegion', {'duration': 3600}) %}
        {{ C.Html.activeDropDownList(
            form,
            'region_id',
            regionList,
            {'id':'id_region', 'prompt':'область', 'name':'region'}
        ) }}
        {{ Yii.void(this.endCache()) }}
    {% endif %}
    {{ C.Html.activeDropDownList(form, 'city_id',
        {}, {'id':'id_city', 'prompt':'город', 'name':'city'}) }}
    {{ C.Html.submitButton('', {'name':'', 'value':'Найти'}) }}
{{ C.Html.endForm() }}
</div>

{% if this.beginCache('roots', {'duration': 3600}) %}
    <div class="roots">
    {% for category in categories %}
        {% if category.level == 1 %}
        <div class="root root-{{category.root}}">
            <span>{{ category.title }}</span>
        </div>
        {% endif %}
    {% endfor %}
    <div class="clear"></div>
    </div>

    {% for i in 1..10 %}
    <div class="children root-{{i}}">
        {% for category in categories %}
            {% if category.level != 1 and category.root == i %}
            <div class="child">
                <a href="{{ App.request.baseUrl~'/site/search/'~category.id }}">
                    {{ category.title }}
                </a>
            </div>
            {% endif %}
        {% endfor %}
        <div class="clear"></div>
    </div>
    {% endfor %}
    {{ Yii.void(this.endCache()) }}
{% endif %}

{% if this.beginCache('_new', {'duration': 5}) %}
    <h2>Новые объявления</h2>
    <div class="clistview">
    {{ this.widget('zii.widgets.CListView', {
        'dataProvider':dataProvider,
        'itemView':'_new',
        'summaryText':false
    }, true) }}
    <div class="clear"></div>
    </div>
    {{ Yii.void(this.endCache()) }}
{% endif %}

<script>
    $(".roots").click(function(event){
        event.preventDefault();
        if ($(event.target).tagName != 'A' &&
            !$(event.target).parent().hasClass("root")) { return; }
        var fullClass = $(event.target).parent().attr('class');
        var currentRoot = fullClass.match(/root-\d/g)[0];
        $(".children").hide();
        $(".children."+currentRoot).show();
    });
</script>

{% endblock content %}
