{% extends 'views/layouts/main.twig' %}

{% block title %}{{ App.name }} : поиск{% endblock title %}

{% block content %}

{{ Yii.void(App.clientScript.registerCssFile(App.request.baseUrl~'/css/search.css')) }}
<div class="form">
{{ C.Html.beginForm(App.createUrl('site/search/'~App.request.getQuery('id')), 'get') }}
    {% for attribute, value in form.eav %}
        {% if dropDownLists[attribute] %}
            {% include 'views/eav/dropDownSearch.twig' %}
        {% else %}
            {% include 'views/eav/doubleTextInput.twig' %}
        {% endif %}
    {% endfor %}
    <input type="submit">
{{ C.Html.endForm() }}
</div>

{{ this.widget('zii.widgets.CListView', {
    'dataProvider':dataProvider,
    'itemView':'_search_item'
}, true) }}
{% endblock content %}