{% extends 'views/layouts/main.twig' %}

{% block title %}{{ App.name }} : поиск{% endblock title %}

{% block content %}

{{ Yii.void(App.clientScript.registerCssFile(App.request.baseUrl~'/css/search.css')) }}
<div class="form">
{{ C.Html.beginForm(App.createUrl('site/search/'~App.request.getQuery('id')), 'get') }}
    <div class="row">
    {{ C.Html.textField('word', form.word, {'placeholder':'поиск по фразе'}) }}
    {{ C.Html.dropDownList(
        'region_id',
        form.region_id ? form.region_id : 'empty',
        form.getRegions(),
        {'empty':'выбрать', 'id':'id_region'})
    }}
    {{ C.Html.dropDownList(
        'city_id',
        form.city_id ? form.city_id : 'empty',
        form.getCities(form.region_id),
        {'empty':'выбрать', 'id':'id_city'})
    }}
    </div>
    {% for attribute, value in form.eav %}
        <div class="eav-wrapper">
            {% if dropDownLists[attribute] %}
                {% include 'views/eav/dropDownSearch.twig' %}
            {% else %}
                {% include 'views/eav/doubleTextInput.twig' %}
            {% endif %}
        </div>
    {% endfor %}
    <div class="clear"></div>
    <div class="row">
        {{ C.Html.resetButton('очистить') }}
        {{ C.Html.submitButton('Поиск') }}
    </div>
    {{ C.Html.endForm() }}
</div>

{{ this.widget('zii.widgets.CListView', {
    'dataProvider':dataProvider,
    'itemView':'_search_item'
}, true) }}
{% endblock content %}
