{% extends 'views/layouts/main.twig' %}

{% block auxres %}
    {{ Yii.void(App.clientScript.registerCoreScript('jquery')) }}
    {{ Yii.void(App.clientScript.registerScriptFile(
        App.request.baseUrl~'/js/select2-3.5.4/select2.js')) }}
    {{ Yii.void(App.clientScript.registerCssFile(
        App.request.baseUrl~'/js/select2-3.5.4/select2.css')) }}
{% endblock auxres %}

{% block content %}

{{ Yii.void(App.clientScript.registerScriptFile(
    App.request.baseUrl~'/js/citiesDropDown.js', constant('CClientScript::POS_END'))) }}
<div class="form">
{% set form = this.beginWidget('CActiveForm', {
    'htmlOptions': {'enctype':'multipart/form-data'}
}) %}
{{ form.errorSummary(model) }}
{% if model.getCategoryList(App.request.getQuery('id')) %}
    {% include 'views/ad/_subcategory.twig' %}
{% else %}
    {% include 'views/ad/_inputhidden.twig' %}
{% endif %}
<div class="row">
    {{ form.labelEx(model, 'title') }}
    {{ form.textField(model, 'title') }}
    {{ form.error(model, 'title') }}
</div>
<div class="row">
    {{ form.labelEx(model, 'description') }}
    {{ form.textArea(model, 'description') }}
    {{ form.error(model, 'description') }}
</div>
{% for key in model.eavAttributes|keys %}
    {% if model.getEavVariants(key) %} 
        {% include 'views/eav/dropDown.twig' %}
    {% else %}
        {% include 'views/eav/textInput.twig' %}
    {% endif %}
{% endfor %}

<div class="row">
    {{ C.Html.label('Область', false) }}
    {{ C.Html.dropDownList(
        'region_id', 'empty', regions,
        {'empty':'---------- область ----------', 'id':'id_region'})
    }}
</div>
<div class="row">
    {{ C.Html.activeLabel(model, 'city_id') }}
    {{ C.Html.activeDropDownList(
        model, 'city_id', {},
        {'empty':'------------ город ------------', 'id':'id_city'})
    }}
</div>

{{ C.Html.activeLabel(photo, 'image') }}
{{ C.Html.activeFileField(photo, 'image', {'multiple':'multiple','name':'images[]'}) }}
{{ C.Html.error(photo, 'image') }}

<div class="row buttons">
    {{ C.Html.submitButton() }}
</div>
{{ Yii.void(this.endWidget()) }}
</div>

<script type="text/javascript">
  $('#id_region').select2();
  $('#id_city').select2();
</script>

{% endblock content %}
